@charset "utf-8";

header {
    width: 100%;
    height: 80px;
    border: 1px solid #dddddd;
}

.header {
    width: 1600px;
    margin: 0 auto;
    padding: 0.20% 0;
}

.header h1 {
    float: left;
    padding: 15px 20px;
}

.nav {
    float: left;
    padding: 0 80px;
    ;
    border-bottom: red;
}

.nav ul>li {
    display: inline-block;
    width: 230px;
    text-align: center;
}

.nav>ul>li:nth-child(1)>a:after {
    content: "";
    position: absolute;
    top: 30px;
    left: 230px;
    width: 1px;
    height: 18px;
    background: #e6e6e6;
}

.nav>ul>li:nth-child(2)>a:after {
    content: "";
    position: absolute;
    top: 30px;
    left: 230px;
    width: 1px;
    height: 18px;
    background: #e6e6e6;
}

.nav>ul>li:nth-child(3)>a:after {
    content: "";
    position: absolute;
    top: 30px;
    left: 230px;
    width: 1px;
    height: 18px;
    background: #e6e6e6;
}

.nav ul>li>a {
    font-size: 18px;
    color: #2d2d2d;
    height: 80px;
    padding: 30px 0;
    display: block;
}

.nav ul>li>a:hover {
    font-weight: bold;
}

.nav ul ul {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    overflow: hidden;
    /* 실 내용이 높이보다 커지면 해당 내용 감춤 */
    transition: height .2s;
}

.nav li {
    position: relative;
}

.nav li:hover>ul {
    display: block;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    background: #fff;
    position: absolute;
    top: 80px;
    left: 0;
}

.nav li>ul>li>a:hover {
    font-weight: bold;
}

.nav ul ul li {
    border-bottom: 1px solid #e6e6e6;
}

.nav ul ul a {
    height: 20px;
    font-size: 14px;
    color: #2d2d2d;
    text-align: center;
    line-height: 20px;
    text-align: center;
}

.sub_nav {
    float: right;
    position: relative;
    padding: 30px 100px 20px 20px;
}

.sub_nav li {
    float: left;
    padding-left: 10px;
}

.sub_nav li:nth-child(1)>a:before {
    content: "";
    position: absolute;
    top: 33px;
    left: 28px;
    width: 1px;
    height: 12px;
    background: #e6e6e6;
}

.sub_nav li:nth-child(1)>a::after {
    content: "";
    position: absolute;
    top: 33px;
    left: 76px;
    width: 1px;
    height: 12px;
    background: #e6e6e6;
}

.sub_nav li:nth-child(2)>a::after {
    content: "";
    position: absolute;
    top: 33px;
    left: 118px;
    width: 1px;
    height: 12px;
    background: #e6e6e6;
}

.sub_nav a {
    font-size: 14px;
    color: #707070;
}

.sub_nav_btn .button {
    border: 0;
    background: none;
    position: absolute;
    top: 20px;
    right: 40px;
}

.sub_nav .button img {
    max-width: 100%;
}

.menu-container {
    display: none;
}

.hamburger_m {
    display: none;
}

.btn_nav {
    display: none;
}

.bx-wrapper {
    position: relative;
}

.bx-wrapper img {
    width: 96%;
    margin: 0 auto;
}

.bx-wrapper {
    width: 100%;
}

.bx-wrapper .bx-controls-auto {
    position: absolute;
    top: 40px;
    ;
    right: 40px;
}

#make {
    width: 100%;
    font-family: 'Oswald', sans-serif;
    padding: 80px 0;
}

.make {
    width: 1600px;
    margin: 0 auto;
}

.make h2 {
    padding: 50px 0 10px 10px;
    font-size: 36px;
    letter-spacing: -1px;
    font-weight: normal;
    color: #111;
}

.make>h2>strong>span {
    font-size: 10px;
}

.make article {
    width: 25%;
    float: left;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 20px;
    animation-name: my;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    transition-timing-function: linear;
}

@keyframes my {

    0% {
        opacity: 0;
        top: 0;
    }

    25% {
        opacity: 0.1;
        top: 4px;
    }

    50% {
        opacity: 0.3;
        top: 8px;
    }

    75% {
        opacity: 0.6;
        top: 12px;
    }

    100% {
        opacity: 0.9;
        top: 16px;
    }
}

.make .boxtype {
    padding: 0 10px 0 10px;
    ;
    box-sizing: border-box;
}

.make a {
    color: #292a37;
}

.make article img {
    border: 1px solid #ededed;
    max-width: 100%;
    ;
}

.make .ovtext {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    text-align: center;
    width: 100%;
}

.make .ovtext h3 {
    font-size: 18px;
    padding-bottom: 18px;
}

.make .ovtext p {
    font-size: 14px;
    line-height: 16px;
    font-weight: lighter;
    color: #7e7e7e;
    letter-spacing: -1px;
}

.sub_nav .button img {
    max-width: 100%;
}

#share {
    width: 100%;
}

.share {
    width: 1600px;
    margin: 0 auto;
    padding-left: 20px;
}

.share h2 {
    padding: 50px 0 10px 10px;
    font-size: 36px;
    letter-spacing: -1px;
    font-weight: normal;
    color: #111;
}

.share>h2>strong>span {
    font-size: 10px;
}

.share article {
    float: left;
    padding: 10px 10px 10px 10px;
    width: 50%;
    box-sizing: border-box;
}

.share article img {
    max-width: 100%;
    border: 1px solid #ededed;
    animation-name: my;
    animation-duration: 1.5s;
    animation-iteration-count: 3;
}

transition-timing-function: linear;
}

@keyframes my {

    0% {
        opacity: 0;
        top: 0;
    }

    25% {
        opacity: 0.1;
        top: 4px;
    }

    50% {
        opacity: 0.3;
        top: 8px;
    }

    75% {
        opacity: 0.6;
        top: 12px;
    }

    100% {
        opacity: 0.9;
        top: 16px;
    }
}

.video_wrap {
    background: url('../img/background.png') no-repeat;
    max-width: 100%;
    height: 250px;
}

.video video {
    width: 100%;
    max-width: 640px;
    height: 220px;
}

.slider_wrap {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
}

.slider2_wrap .slider_a {
    position: relative;
    display: block;
}

#find {
    width: 100%;
    font-family: 'Oswald', sans-serif
}

.find {
    width: 1600px;
    margin: 0 auto;
    padding-left: 20px;
}

.find h2 {
    padding: 50px 10px 20px 10px;
    font-size: 36px;
    letter-spacing: -1px;
    font-weight: normal;
    color: #111;
}

.find>h2>strong>span {
    font-size: 10px;
}

.find article {
    float: left;
    width: 20%;
    box-sizing: border-box;
    padding: 0 10px 20px 10px;
    position: relative;
    animation-name: my;
    animation-duration: 1.5s;
    animation-iteration-count: 3;
    transition-timing-function: linear;
}

@keyframes my {

    0% {
        opacity: 0;
        top: 0;
    }

    25% {
        opacity: 0.1;
        top: 4px;
    }

    50% {
        opacity: 0.3;
        top: 8px;
    }

    75% {
        opacity: 0.6;
        top: 12px;
    }

    100% {
        opacity: 0.9;
        top: 16px;
    }
}

.find img {
    max-width: 100%;
}

.find .ovtext {
    position: absolute;
    top: 13%;
    left: 0;
    width: 100%;
}

.find .ovtext h3 {
    font-size: 18px;
    padding: 15px;
    color: #111;
    text-align: center;
}

.find .ovtext p {
    color: #7e7e7e;
    text-align: center;
    font-size: 14px;
    letter-spacing: -1px;
}

#contain {
    width: 100%;
}

.contain {
    width: 1600px;
    margin: 0 auto;
}

.contain h2 {
    padding: 50px 10px 20px 10px;
    font-size: 36px;
    letter-spacing: -1px;
    font-weight: normal;
    color: #111;
}

.contain>h2>strong>span {
    font-size: 10px;
}

.contain article {
    float: left;
    padding: 0 10px 20px 10px;
    ;
    width: 25%;
    position: relative;
    box-sizing: border-box;
    animation-name: my;
    animation-duration: 1.5s;
    animation-iteration-count: 3;
    transition-timing-function: linear;
}

@keyframes my {

    0% {
        opacity: 0;
        top: 0;
    }

    25% {
        opacity: 0.1;
        top: 4px;
    }

    50% {
        opacity: 0.3;
        top: 8px;
    }

    75% {
        opacity: 0.6;
        top: 12px;
    }

    100% {
        opacity: 0.9;
        top: 16px;
    }
}

.contain article:nth-child(5) {
    width: 50%;
    padding-right: 5px;
    box-sizing: border-box;
}

.contain article img {
    border: 1px solid #ededed;
}

.contain article:nth-child(5)>img {
    max-width: 100%;
}

.contain .ovtext {
    position: absolute;
    top: 13%;
    left: 0;
    width: 100%;
}

.contain .ovtext h3 {
    color: #111;
    font-size: 18px;
    padding-bottom: 16px;
    text-align: center;
}

.contain .ovtext p {
    color: #7e7e7e;
    font-size: 14px;
    text-align: center;
}

#footer {
    width: 100%;
}

.footer_login {
    display: none;
}

.footer_information {
    width: 100%;
    background: #f1f1f1;
    padding: 30px;
}

.footer_information_wrap {
    width: 1600px;
    margin: 0 auto;
}

.footer_information_wrap ul {
    text-align: center;
    padding: 10px 0;
}

.footer_information_wrap .service {
    position: relative;
}

.footer_information_wrap .service>ul>li {
    display: inline-block;
    padding-left: 10px;
}

.footer_information_wrap .service>ul>li>a {
    color: #111;
}

.coun {
    text-align: center;
}

.show {
    display: none;
}

.coun p {
    display: inline-block;
    text-align: center;
}

.office {
    position: absolute;
    right: 15%;
    top: 0;
}

.reserved {
    width: 100%;
    background: #323232;
    text-align: center;
    padding: 20px 0 50px 0;
}

.reserved p {
    color: #8d8d8d;
    font-size: 12px;
}

@media (max-width:1220px) {
    header {
        width: 100%;
        border: none;
    }

    .header {
        width: 100%;
        height: 160px;
    }

    .header h1 {
        padding: 10px;
    }

    .nav {
        padding: 0;
        width: 100%;
        border: 1px solid #ededed;
        position: relative;
        z-index: 10;
    }

    .nav ul>li {
        width: 23%;
        box-sizing: border-box;
    }

    .nav ul>li>a {
        padding: 0;
        height: 70px;
        line-height: 70px;
    }

    .nav li:hover>ul {
        display: none;
    }

    .nav ul ul li {
        width: 100%;
        height: 70px;
        text-align: center;
        padding: 0;
    }

    .sub_nav {
        position: absolute;
        top: 10px;
        right: 50px;
        padding: 10px;
    }

    .sub_nav .button {
        border: 0;
        background: none;
        position: absolute;
        top: 0;
        right: -40px;
        margin-bottom: 80px;
        margin-left: 40px;
    }

    .sub_nav li:nth-child(1)>a:before {
        content: "";
        position: absolute;
        top: 14px;
        left: 15px;
        width: 1px;
        height: 12px;
        background: #ededed;
    }

    .sub_nav li:nth-child(1)>a::after {
        content: "";
        position: absolute;
        top: 14px;
        left: 66px;
        width: 1px;
        height: 12px;
        background: #ededed;
    }

    .sub_nav li:nth-child(2)>a::after {
        content: "";
        position: absolute;
        top: 14px;
        left: 105px;
        width: 1px;
        height: 12px;
        background: #ededed;
    }

    .bx-wrapper {
        max-width: 100%;
    }

    #make {
        width: 100%;
    }

    .make {
        width: 100%;
        ;
        margin: 0;
        padding: 0;
    }

    .make article {
        width: 50%;
        padding-right: 5px;
        box-sizing: border-box;
        float: left;
    }

    .make .boxtype {
        width: 100%;
    }

    .make article img {
        width: 100%;
        border: 1px solid #ededed;
        box-sizing: border-box;
    }

    #share {
        width: 100%;
        ;
    }

    .share {
        width: 100%;
        padding: 0;
    }

    .share .video {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    .video_wrap {
        background: url('../img/background_2.png') no-repeat;
        max-width: 100%;
        height: auto;
    }

    .slider_wrap {
        width: 100%;
        box-sizing: border-box;
    }

    .slider2 {
        width: 100%;
    }

    .slider_wrap {
        width: 100%;
    }

    #find {
        width: 100%;
    }

    .find {
        width: 100%;
        padding: 0;
    }

    .find article {
        width: 50%;
        padding-right: 5px;
        box-sizing: border-box;
        float: left;
    }

    .find article img {
        width: 100%;
        border: 1px solid #ededed;
        box-sizing: border-box;
    }

    #contain {
        width: 100%;
    }

    .contain {
        width: 100%;
        padding: 0;
    }

    .contain article {
        width: 50%;
        box-sizing: border-box;
    }

    .contain article:nth-child(5) {
        width: 100%;
        box-sizing: border-box;
    }

    .contain article:nth-child(5)>img {
        width: 100%;
    }

    .contain article img {
        width: 100%;
        border: 1px solid #ededed;
        box-sizing: border-box;
    }

    #footer {
        width: 100%;
    }

    .footer_information {
        width: 100%;
        background: #f1f1f1;
        padding: 30px 0;
    }

    .footer_information_wrap {
        width: 100%;
    }

    .footer_information_wrap ul {
        text-align: center;
        padding: 10px 0;
    }

    .footer_information_wrap .service {
        position: relative;
    }

    .footer_information_wrap .service>ul>li {
        display: inline-block;
        padding-left: 10px;
    }

    .footer_information_wrap .service>ul>li>a {
        color: #111;
    }

    .coun {
        text-align: center;
    }

    .show {
        display: block;
    }

    .coun p {
        display: inline-block;
        text-align: center;
        line-height: 20px;
    }

    .office {
        position: absolute;
        right: 15%;
        top: 20px;
    }

    .reserved {
        width: 100%;
        background: #323232;
        text-align: center;
        padding: 20px 0 5px 0;
    }

    .reserved p {
        color: #8d8d8d;
        font-size: 12px;
    }
}

@media (max-width:768px) {
    header {
        width: 100%;
        border: none;
    }

    .header {
        width: 100%;
        height: 160px;
    }

    .header h1 {
        padding: 10px;
    }

    .nav {
        padding: 0;
        width: 100%;
        border: 1px solid #ededed;
        position: relative;
        z-index: 10;
    }

    .nav ul>li {
        width: 23%;
        box-sizing: border-box;
    }

    .nav ul>li>a {
        padding: 0;
        height: 70px;
        line-height: 70px;
        font
    }

    .nav li:hover>ul {
        display: none;
    }

    .nav ul ul li {
        width: 100%;
        height: 70px;
        text-align: center;
        padding: 0;
    }

    .nav>ul>li:nth-child(1)>a:after {
        content: none;
    }

    .nav>ul>li:nth-child(2)>a:after {
        content: none;
    }

    .nav>ul>li:nth-child(3)>a:after {
        content: none;
    }

    .sub_nav {
        position: absolute;
        top: 10px;
        right: 50px;
        padding: 10px;
    }

    .sub_nav .button {
        border: 0;
        background: none;
        position: absolute;
        top: 0;
        right: -40px;
        margin-bottom: 80px;
        margin-left: 40px;
    }

    .sub_nav li:nth-child(1)>a:before {
        content: "";
        position: absolute;
        top: 14px;
        left: 15px;
        width: 1px;
        height: 12px;
        background: #ededed;
    }

    .sub_nav li:nth-child(1)>a::after {
        content: "";
        position: absolute;
        top: 14px;
        left: 66px;
        width: 1px;
        height: 12px;
        background: #ededed;
    }

    .sub_nav li:nth-child(2)>a::after {
        content: "";
        position: absolute;
        top: 14px;
        left: 105px;
        width: 1px;
        height: 12px;
        background: #ededed;
    }

    .bx-wrapper {
        max-width: 100%;
        box-sizing: border-box;
    }

    .bx-wrapper img {
        max-width: 100%;
        box-sizing: border-box;
    }

    #make {
        width: 100%;
    }

    .make {
        width: 100%;
        ;
        margin: 0;
        padding: 0;
    }

    .make article {
        width: 50%;
        padding-right: 5px;
        box-sizing: border-box;
        float: left;
    }

    .make .boxtype {
        width: 100%;
    }

    .make .ovtext h3 {
        font-size: 14px;
    }

    .make .ovtext p {
        display: none;
    }

    .make article img {
        width: 100%;
        border: 1px solid #ededed;
        box-sizing: border-box;
    }

    #share {
        width: 100%;
        ;
    }

    .share {
        width: 100%;
        padding: 0;
    }

    .share .video {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    .share .video img {
        width: 100%;
        border: 1px solid #ededed;
    }

    .slider_wrap {
        width: 100%;
        box-sizing: border-box;
    }

    .slider2 {
        width: 100%;
    }

    .slider2 p {
        display: none;
    }

    .slider_wrap img {
        width: 100%;
    }

    .video_wrap {
        background: #000;
        max-width: 100%;
        height: 250px;
        padding-left: 50px;
    }

    #find {
        width: 100%;
    }

    .find {
        width: 100%;
        padding: 0;
    }

    .find article {
        width: 50%;
        padding-right: 5px;
        box-sizing: border-box;
        float: left;
    }

    .find article img {
        width: 100%;
        border: 1px solid #ededed;
        box-sizing: border-box;
    }

    #contain {
        width: 100%;
    }

    .contain {
        width: 100%;
        padding: 0;
    }

    .contain article {
        width: 50%;
        box-sizing: border-box;
    }

    .contain article:nth-child(5) {
        width: 100%;
        box-sizing: border-box;
    }

    .contain article:nth-child(5)>img {
        width: 100%;
    }

    .contain article img {
        width: 100%;
        border: 1px solid #ededed;
        box-sizing: border-box;
    }

    #footer {
        width: 100%;
    }

    .footer_login {
        display: block;
        width: 100%;
        background: #fafafa;
        padding: 15px 20px;
        box-sizing: border-box;
    }

    .footer_login nav {
        width: 100%;
        box-sizing: border-box
    }

    .footer_login ul li {
        float: left;
        width: 48%;
        box-sizing: border-box;
    }

    .footer_login a {
        display: block;
        width: 100%;
        height: 20px;
        font-size: 18px;
        border: 1px solid #cccccc;
        text-align: center;
        box-sizing: border-box;
        font-size: 10px;
        color: #000;
        line-height: 20px;
    }

    .footer_information {
        width: 100%;
        height: 80px;
        background: #f1f1f1;
        padding: 20px 0 70px 0;
    }

    .footer_information_wrap {
        width: 100%;
    }

    .footer_information_wrap ul {
        text-align: center;
        padding: 15px 20px;
    }

    .footer_information_wrap .service {
        position: relative;
        top: 0;
        bottom: 0;
    }

    .footer_information_wrap .service>ul>li {
        display: inline-block;
        padding-left: 10px;
    }

    .footer_information_wrap .service>ul>li>a {
        color: #111;
    }

    .footer_information_wrap .service a {
        font-size: 10px;
    }

    .coun {
        text-align: center;
    }

    .coun p {
        font-size: 10px;
    }

    .show {
        display: block;
    }

    .coun p {
        display: inline-block;
        text-align: center;
        line-height: 20px;
    }

    .office {
        position: static;
    }

    .office ul>li {
        padding-left: 5px;
    }

    .reserved {
        max-width: 100%;
        background: #323232;
        text-align: center;
        padding: 20px 0 5px 0;
    }

    .reserved p {
        color: #8d8d8d;
        font-size: 12px;
    }
}

@media (max-width:480px) {
    header {
        width: 100%;
        border: none;
    }

    .header {
        width: 100%;
        height: 50px;
    }

    .header h1 {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .nav {
        display: none;
    }

    .btn_nav {
        display: block;
        padding: 20px;
    }

    .sub_nav ul {
        display: none;
    }

    .bx-wrapper {
        max-width: 100%;
        box-sizing: border-box;
        margin: 0;
    }

    .sub_nav_btn {
        position: relative;
    }

    .sub_nav_btn .button {
        position: absolute;
        top: 20px;
        right: 5px;
    }

    .bx-viewport {
        height: 250px;
    }

    .bx-wrapper .bx-controls-auto {
        position: absolute;
        top: 0;
        right: 0;
    }

    #make {
        width: 100%;
    }

    .make {
        width: 100%;
        ;
        margin: 0;
        padding: 0;
    }

    .make h2 {
        font-size: 21px;
        padding: 20px 0 10px 10px;
    }

    .make article {
        width: 50%;
        padding-right: 5px;
        box-sizing: border-box;
        float: left;
    }

    .make .boxtype {
        width: 100%;
    }

    .make .ovtext p {
        display: none;
    }

    .make article img {
        width: 100%;
        border: 1px solid #ededed;
        box-sizing: border-box;
    }

    #share {
        width: 100%;
        ;
    }

    .share {
        width: 100%;
        padding: 0;
    }

    .share h2 {
        font-size: 21px;
        padding: 20px 0 10px 10px;
    }

    .share .video {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    .share .video img {
        width: 100%;
        border: 1px solid #ededed;
    }

    .slider_wrap {
        max-width: 100%;
        box-sizing: border-box;
    }

    .slider2 {
        max-width: 100%;
    }

    .slider2 p {
        display: none;
    }

    .slider_wrap img {
        width: 100%;
    }

    .video_wrap {
        background: #000;
        max-width: 100%;
        height: 250px;
        padding-left: 0;
    }

    #find {
        width: 100%;
    }

    .find {
        width: 100%;
        padding: 0;
    }

    .find h2 {
        font-size: 21px;
        padding: 20px 0 10px 10px;
    }

    .find article {
        width: 50%;
        padding-right: 5px;
        box-sizing: border-box;
        float: left;
    }

    .find article img {
        width: 100%;
        border: 1px solid #ededed;
        box-sizing: border-box;
    }

    .find .ovtext h3 {
        font-size: 14px;
    }

    .find .ovtext p {
        display: none;
    }

    #contain {
        width: 100%;
    }

    .contain {
        width: 100%;
        padding: 0;
    }

    .contain h2 {
        font-size: 21px;
        padding: 20px 0 10px 10px;
    }

    .contain article {
        width: 50%;
        box-sizing: border-box;
    }

    .contain article:nth-child(5) {
        width: 100%;
        box-sizing: border-box;
    }

    .contain article:nth-child(5)>img {
        width: 100%;
    }

    .contain .ovtext h3 {
        font-size: 14px;
    }

    .contain .ovtext p {
        display: none;
    }

    .contain article img {
        width: 100%;
        border: 1px solid #ededed;
        box-sizing: border-box;
    }

    #footer {
        width: 100%;
    }

    .footer_login {
        display: block;
        width: 100%;
        background: #fafafa;
        padding: 15px 20px;
        box-sizing: border-box;
    }

    .footer_login nav {
        width: 100%;
        box-sizing: border-box
    }

    .footer_login ul li {
        float: left;
        width: 48%;
        box-sizing: border-box;
    }

    .footer_login a {
        display: block;
        width: 100%;
        height: 20px;
        font-size: 18px;
        border: 1px solid #cccccc;
        text-align: center;
        box-sizing: border-box;
        font-size: 10px;
        color: #000;
        line-height: 20px;
    }

    .footer_information {
        width: 100%;
        height: 80px;
        background: #f1f1f1;
        padding: 20px 0 70px 0;
    }

    .footer_information_wrap {
        width: 100%;
    }

    .footer_information_wrap ul {
        text-align: center;
        padding: 5px 10px;
    }

    .footer_information_wrap .service {
        position: relative;
        top: 0;
        bottom: 0;
    }

    .footer_information_wrap .service>ul>li {
        display: inline-block;
        padding-left: 10px;
    }

    .footer_information_wrap .service>ul>li>a {
        color: #111;
    }

    .footer_information_wrap .service a {
        font-size: 10px;
    }

    .coun {
        text-align: center;
    }

    .coun p {
        font-size: 10px;
    }

    .show {
        display: block;
    }

    .coun p {
        display: inline-block;
        text-align: center;
        line-height: 20px;
    }

    .office {
        position: static;
    }

    .office ul>li {
        padding-left: 5px;
    }

    .reserved {
        max-width: 100%;
        background: #323232;
        text-align: center;
        padding: 20px 0 5px 0;
    }

    .reserved p {
        color: #8d8d8d;
        font-size: 12px;
    }
}